/[Aa]ssets/AssetStoreTools*
[Ll]ibrary/
[Tt]mp/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
/[Vv]ersioning/
.plastic/
UserSettings/
Assets/MERCY_7.3_Lore_Bible.md
**/*.csproj
**/*.sln
**/*.suo
**/*.user
**/*.unitypackage